footer.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    img {
        height: 50px;
        margin-bottom: 0.5rem;
        width: auto; // Maintain aspect ratio
    }
}