@import '../../common/colors.scss';

.brand-name {
    font-size: 1.5em;
}

nav.app-nav-bar.navbar.navbar-expand-lg.navbar-light.bg-light {
    --bs-light-rgb: 0, 0, 0; // Changing the traditional light background to black
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)); // Use the updated variable
}

nav.app-nav-hamburger.navbar.navbar-expand-lg.navbar-light.bg-light {
    --bs-light-rgb: 0, 0, 0; // Changing the traditional light background to black
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)); // Use the updated variable
}

.navbar-toggler-icon {
    background-color: white;
}

nav.app-nav-hamburger .navbar-nav {
    position: absolute;
    top: calc(100% - 7px);
    left: -115px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: $radius;
    width: 160px;

    .nav-link {
        color: black;
    }

    .dropdown-menu[data-bs-popper] {
        position: absolute;
        left: -25px;
        background-color: white;
    }
}