/*
IMPORTANT: Import order matters.
*/
@import '@wwtdev/bsds-css/dist/wwt-bsds.min.css';
@import 'tailwindcss';
@tailwind utilities;

/* Base styles for light and dark themes */
body {
    color: #212529;
    background-color: #e9ecef;
}

body.dark {
    color: #e9ecef;
    background-color: #212529;
}

/* Shared header and footer styles */
header,
footer {
    color: #f8f9fa;
    background-color: #1a1a1a;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Prevent shrinking */
}

footer img {
    height: 50px;
    width: auto;
    margin-bottom: 0.5rem;
}

/* Ensure the body and root take up the full height */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1; /* Grow to fill the available space */
}
