$primary: #0086ea; // WWT Brand Color
$secondary: #373a3c;
$success: #0a8a3a; // Calculate complentry green to WWT Brand Colors
$info: $primary;
$warning: #ffdd55; // Calculate complentry light yellow to WWT Brand Colors
$danger: #ee282a; // WWT Brand Color
$light: #f8f9fa;
$dark: #212529;

$spacing: 1rem; // Default spacing for margins and padding
$spacing-tight: .5rem;
$radius: 3px;